@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    border: none;
}

body
{
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
}


header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
    height: 10vh;
}

header nav .nav-list1,
header nav .nav-list2
{
    display: flex;
}

header nav .nav-list1 li,
header nav .nav-list2 li
{
    margin-left: 35px;
    list-style: none;
}

header nav .nav-list1 li a.logo
{
    margin-top: -5px;
    font-size: 1.2em;
}

header nav .nav-list2 li a.btn-header
{
    background: #fff;
    color: #000;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
}

header nav .nav-list1 li a,
header nav .nav-list2 li a
{
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    padding: 8px;
    opacity: 1;
    border-radius: 20px;

}

header nav .nav-list1 li a:hover,
header nav .nav-list2 li a:hover
{
    background: rgb(66, 66, 66);
    border-radius: 20px;
    transition: 0.25s;
}

section .content .secure
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

section .content .secure .secure-text 
{
    margin: 0px 50px;
}

section .content .secure .secure-text h1
{
    font-size: 3em;
    font-weight: 500;
}

section .content .secure .secure-text p
{
    width: 500px;
    margin: 50px 0px;
}

section .content .secure .secure-text #btn-secure
{
    position: relative;
    top: -10px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
}

section .content .secure .secure-img img
{
    width: 600px;
}

div.benefits 
{
    background: url('../Images/Earner_Home_bg_desktop2x.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 10px;
}

.benefits .content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


.benefits .content .box-benefits
{
    position: relative;
    top: 50px;
    width: 600px;
    position: relative;
    left: 50px;
    background: #fff;
    color: #000;
    padding: 50px 30px;
}

.benefits .content .box-benefits .box-text h1
{
    font-size: 4em;
    font-weight: 500;
    padding: 10px 0px;
}

.benefits .content .box-benefits .box-text p
{
    margin: 0px 0px 50px;
}

.benefits .content .box-benefits .box-text #btn-box
{
    position: relative;
    bottom: 10px;
    text-decoration: none;
    color: #fff;
    background: #000;
    margin-top: 20px;
    padding: 15px;
    transition: 0.35s;
}

.benefits .content .box-benefits .box-text #btn-box:hover
{
    background: rgb(32, 32, 32)0;
}


.benefits .content .box-benefits .box-text #link-box
{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgb(153, 153, 153);
    position: relative;
    top: 20px;
    padding: 10px 0px;
    margin: 30px 0px;
    transition: 0.25s;
}

.benefits .content .box-benefits .box-text #link-box:hover
{
    border-bottom: 1px solid #000;
}

.benefits .content .box-benefits .icons
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10px;
    text-align: center;
}

.benefits .content .box-benefits .icons .net-icon ion-icon,
.benefits .content .box-benefits .icons .food-icon ion-icon,
.benefits .content .box-benefits .icons .car-icon ion-icon
{
    font-size: 2em;
}

.benefits .content .box-benefits .icons .net-icon h4,
.benefits .content .box-benefits .icons .food-icon h4,
.benefits .content .box-benefits .icons .car-icon h4
{
    font-size: 0.98em;
    font-weight: 400;
}


.empresas-uber
{
    background: url(../Images/CIDADE.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
    color: #000;
}

.empresas-uber .content
{
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    

}